# Android
local.properties
captures
.externalNativeBuild
.cxx

# XCode
xcuserdata
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings

# Gradle
.gradle/
build/

# Kotlin
.kotlin/

# IDEA
.idea/
!.idea/icon.svg
*.iml
/core/utils/src/commonMain/kotlin/kaiyrzhan/de/empath/core/utils/result/BaseUrl.kt
/empath-app/src/androidMain/res/xml/network_security_config.xml
